<div class="contenedor">
    <div class="father" id="registro">
        <div class="logincontent">
            <div class="message">
                <h2>Bienvenido a Xiael Watch</h2>
                <p>Si ya dispones de una cuenta inicie sesión aquí</p>
                <button id="blg">Iniciar Sesión</button>
            </div>
        </div>
        <form class="formRegistro">
            <h2 class="create">Crear una Cuenta</h2>
            <p>Crear una cuenta gratis</p>
            <input type="text" placeholder="Username..." />
            <input type="password" placeholder="Contraseña..." />
            <input type="email" placeholder="Email..." />
            <button class="btnR">Registrarse!</button>
        </form>

    </div>
    <div class="father" id="login">
        <form class="formRegistro">
            <h2 class="create">Inicar sesión</h2>
            <p>Inicie sesión con su cuenta</p>
            <input type="text" placeholder="Username..." />
            <input type="password" placeholder="Contraseña..." />
            <button class="btnR">Iniciar sesion</button>
        </form>
        <div class="logincontent">
            <div class="message">
                <h2>Bienvenido a Xiael Watch</h2>
                <p>Si aún no dispones de una cuenta registrese aquí</p>
                <button id="brg">Registrarse!</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/Login.js"></script>
}