<div class="contenedor">
    <div class="father" id="registro">
        <div class="logincontent">
            <div class="message">
                <h2>Bienvenido a Xiael Watch</h2>
                <p>Si ya dispones de una cuenta inicie sesión aquí</p>
                <button id="blg">Iniciar Sesión</button>
            </div>
        </div>
        <form class="formRegistro" id="formRegistroAccess">
            <h2 class="create">Crear una Cuenta</h2>
            <p>Crear una cuenta gratis</p>
            <input type="text" placeholder="Username..." id="userRegistro" required/>
            <input type="password" placeholder="Contraseña..." id="passwordRegistro" required/>
            <input type="email" placeholder="Email..." id="mailRegistro" required/>
            <button type="submit">Registrarse!</button>
        </form>

    </div>
    <div class="father" id="login">
        <form class="formRegistro" id="formLoginAccess">
            <h2 class="create">Inicar sesión</h2>
            <p>Inicie sesión con su cuenta</p>
            <input type="text" placeholder="Username..." id="userLogin" required/>
            <input type="password" placeholder="Contraseña..." id="UserLoginPass" required/>
            <button  type="submit">Iniciar sesion</button>
        </form>
        <div class="logincontent">
            <div class="message">
                <h2>Bienvenido a Xiael Watch</h2>
                <p>Si aún no dispones de una cuenta registrese aquí</p>
                <button  id="brg">Registrarse!</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/Login.js"></script>
}