@{
    ViewData["Title"] = "Home";
}




<div id="hcontslider">
    <div id="hslider">
        <div id="slider">
            <h3 id="htitulo">The NorthMan</h3>
            <p id="hdescripcion">The Northman es una película de suspense y drama histórico épico estadounidense-británica dirigida por Robert Eggers, con un guion coescrito por el poeta y novelista islandés Sjón. Con su historia ambientada a principios del siglo x en Islandia, estará protagonizada por Alexander Skarsgård como el príncipe vikingo Amleth, junto a Nicole Kidman, Anya Taylor-Joy, Björk, Ralph Ineson, Ethan Hawke y Willem Dafoe. La trama seguirá al personaje de Amleth, quien emprende una misión vengativa después del asesinato de su padre.</p>
            <button id="hsboton" >Más Información</button>
        </div>
    </div>
</div>
<div class="container col-md-12"> 
    <div class="row col-md-12" id="hcardsfather">
        <div class="cards">
            <img src="https://i.ibb.co/mFRFbxd/1917.jpg" class="himgcards" />
            <h4>Películas</h4>
            <p>Mira nuestro cátalogo con las ultimas peliculas</p>
            <a asp-area="" asp-controller="Movie" asp-action="Index">Ver más</a>
        </div>
        <div class="cards">
            <img src="https://i.ibb.co/2hGZphP/p2.jpg" class="himgcards" />
            <h4>Animes</h4>
            <p>Mira nuestro cátalogo con las ultimos animes de temporada</p>
            <a asp-area="" asp-controller="Anime" asp-action="Index">Ver más</a>
        </div>
        <div class="cards">
            <img src="https://i.ibb.co/GshCwKv/noticias.jpg" class="himgcards" />
            <h4>Noticias</h4>
            <p>Mira las últimas noticas relacionadas con películas,anime...</p>
            <a href="#">Ver más</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/Home.js"></script>
}