@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="privacy1-cover">

    <h1 class="privacy1-h1">Curso DAM 2022</h1>
    <p class="privacy1-p">Proyecto no destinado a ningún uso comercial</p>
    <img src="https://i.ibb.co/28F6NSx/privacy.jpg" />

</div>
