@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container-cover">
    <div class="container-info-cover">

        <h1>Curso DAM 2022</h1>
        <p>Proyecto no destinado a ningún uso comercial</p>

    </div>


</div>
