@model MovieModel

<div class="container">    
     <div class="row col-md-12">
         <div class="FichaPelicula">
             <h1>@Model.titulo</h1>
           
             
             <img src="@Model.imageurl" loading="lazy" />
             <p>@Model.descripcion</p>
         </div>
     </div>
</div>