@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="noticias-lista">
    <div class="content-lista">
        <article class="post-lista">
            <div class="post-header-lista">
                <div class="post-img-1-lista"></div>

            </div>
            <div class="post-body-lista">
                <span>Holas</span>
                <h2>Nuevo</h2>
                <p>SSSS</p>
                <a href="a" class="post-link">Leer más</a>
            </div>
        </article>
    </div>

    <div class="content-lista">
        <article class="post-lista">
            <div class="post-header-lista">
                <div class="post-img-2-lista"></div>

            </div>
            <div class="post-body-lista">
                <span>16 de diciembre de 2022</span>
                <h2>AVATAR: EL SENTIDO DEL AGUA</h2>
                <p>La segunda parte, 'Avatar: El sentido del agua', fue anunciada para 2015, pero debido a varios problemas (es una película muy técnica, con grandes efectos especiales), ha ido retrasando su estreno año tras año aunque, al fin, parece que podremos volver a disfrutar de Pandora en la gran pantalla el próximo 16 de diciembre.</p>
                <a href="https://www.fotogramas.es/noticias-cine/a32469406/avatar-2-fecha-estreno-reparto-sinopsis-trailer/" class="post-link">Leer más</a>
            </div>
        </article>
    </div>

    <div class="content-lista">
        <article class="post-lista">
            <div class="post-header-lista">
                <div class="post-img-3-lista"></div>

            </div>
            <div class="post-body-lista">
                <span>Holas</span>
                <h2>Nuevo</h2>
                <p>SSSS</p>
                <a href="a" class="post-link">Leer más</a>
            </div>
        </article>
    </div>

</section>