.contenedor {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.ibb.co/fdBQtWw/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.father{
    width:100%;
    height:70vh;
    display:flex;
    justify-content:space-around;
    transition:all .5s ease-out;
}
.logincontent{
    display:flex;
    align-items:center;
    text-align:center;
}
.message {
    padding:1rem;
}
.message h2{
    font-size:1.7rem;
    padding:1rem 0;
}
.message button{
    padding:1rem;
    font-weight:400;
    background-color:black;
    border-radius:2rem;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:.9rem;
    margin-top:2rem;
    transition:all .3s ease-in;
    color:white;
}
.message button:hover {
        background-color: #a5bfde;
}
.formRegistro{
    width:400px;
    padding:1rem;
    margin:2rem;
    background-color:rgba(51,51,51,0.602);
    text-align:center;
}
.formRegistro p{
  padding:2.7rem 0;
  font-size:1.7rem;
}
.formRegistro input{
  width:70%;
  display:block;
  margin:auto;
  margin-bottom:2rem;
  background-color:transparent;
  border:none;
  border-bottom-color:white;
  border-bottom:thin solid;
  text-align:center;
  outline:none;
  padding:.2rem;
  font-size:.9rem;
  color:white;
}
.formRegistro button{
   width:60%;
   margin:auto;
   border:solid thin white;
   padding:.7rem;
   border-radius:2rem;
   background-color:white;
   font-weight:600;
   margin-top:3rem;
   font-size:.8rem;
   cursor:pointer;
   color:#222;
}
.formRegistro button:hover{
 background-color:black;
 color:white;
 transition:all .5s;
}
