



.noticias-lista {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 15px 5px 15px;
}

.content-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.post-img-1-lista {
    background: url(https://i.ibb.co/PgcdPdx/thor.jpg);
    width: 100%;
    height: 200%;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2-lista {
    background: url(https://i.ibb.co/6cSg339/avatar.jpg);
    width: 100%;
    height: 200%;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3-lista {
    background: url(https://i.ibb.co/XZxqkCP/tokyo.webp);
    width: 100%;
    height: 200%;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-lista {
    box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
    transition: .2s;
}

    .post-lista:hover {
        transform: translateY(-4px);
        box-shadow: 0 1px 14px 2px rgba(0,0,0,.15);
    }

.post-header-lista {
    width: 100%;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
}

.post:hover .post-img-1-lista,
.post:hover .post-img-2-lista,
.post:hover .post-img-3-lista {
    transform: scale(1,1);
}

.post-body-lista {
    padding: 15px;
    text-align: center;
}

    .post-body-lista span {
        display: inline-block;
        color: #999;
        margin-bottom: 10px;
    }

    .post-body-lista h2 {
        margin-bottom: 15px;
    }

    .post-body-lista p {
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .post-body-lista .post-link {
        display: block;
        text-decoration: none;
        padding: 10px;
        background: blue;
        color: #fff;
        width: 50%;
        margin: auto;
        border-radius: 20px;
        box-shadow: 1px 2px 6px 1px rgba(0,0,0,.1);
    }

        .post-body-lista .post-link:hover {
            background: blue;
            box-shadow: 1px 2px 6px 1px rgba(0,0,0,.2);
            transform: translateY(-2px);
        }

@media(max-width: 840px) {
    .content-lista {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .content-lista {
        grid-template-columns: repeat(1, 1fr);
    }
}
